<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Truverus</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.231942660556-p7tmduue9lbaite5g5abfukivdd7onra</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1062117953912287</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.4</string>
	<key>FacebookAppID</key>
	<string>1062117953912287</string>
	<key>FacebookDisplayName</key>
	<string>Truverus</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>NFC Capability</string>
	<key>NSCameraUsageDescription</key>
	<string>Truverus would like to access your camera</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Truverus needs access to your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Truverus needs access to your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Truverus would like to access your photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Trade Gothic LT Bold Oblique</string>
		<string>Trade Gothic LT Light</string>
		<string>Trade Gothic LT Bold No. 2</string>
		<string>Trade Gothic LT Bold</string>
		<string>Trade Gothic LT</string>
		<string>Trade Gothic LT Extended</string>
		<string>Trade Gothic LT Bold Extended</string>
		<string>Trade Gothic LT Light Oblique</string>
		<string>Trade Gothic LT Oblique</string>
		<string>Trade Gothic LT Bold No. 2 Oblique</string>
		<string>AvenirNextLTPro-Bold</string>
		<string>AvenirNextLTPro-BoldCn</string>
		<string>AvenirNextLTPro-BoldCnIt</string>
		<string>AvenirNextLTPro-Cn</string>
		<string>AvenirNextLTPro-CnIt</string>
		<string>AvenirNextLTPro-Demi</string>
		<string>AvenirNextLTPro-DemiCn</string>
		<string>AvenirNextLTPro-DemiCnIt</string>
		<string>AvenirNextLTPro-DemiIt</string>
		<string>AvenirNextLTPro-HeavyCn</string>
		<string>AvenirNextLTPro-HeavyCnIt</string>
		<string>AvenirNextLTPro-It</string>
		<string>AvenirNextLTPro-MediumCn</string>
		<string>AvenirNextLTPro-MediumCnIt</string>
		<string>AvenirNextLTPro-Regular</string>
		<string>AvenirNextLTPro-UltLtCn</string>
		<string>AvenirNextLTPro-UltLtCnIt</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
